html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body.bilder {
    background-image: url("Fotos/bilder_background.jpg");
    background-size: cover; /* адаптация под экран */
    background-repeat: no-repeat; /* центрирование */
    background-position: center; /* без повторов */
    background-attachment: fixed;
    
  }

body.index {
    background-image: url("Fotos/index_background.jpg");
    background-size: cover; /* адаптация под экран */
    background-repeat: no-repeat; /* центрирование */
    background-position: center; /* без повторов */
    background-attachment: fixed;
  }

body.links {
    background-image: url("Fotos/bilder_background.jpg");
    background-size: cover; /* адаптация под экран */
    background-repeat: no-repeat; /* центрирование */
    background-position: center; /* без повторов */
    background-attachment: fixed;
  }

body.ubermich {
    background-image: url("Fotos/ubermich_background.jpg");
    background-size: cover; /* адаптация под экран */
    background-repeat: no-repeat; /* центрирование */
    background-position: center; /* без повторов */
    background-attachment: fixed;
  }



  .site-header {
    position: fixed;      /* главное! иначе проценты будут от экрана */
    top: 0%;
    width: 100%;
    height: 7%;
    margin: 0 auto;
    background: #333;
    z-index: 20; 
  }

.logo_link img {
    position: absolute;      /* теперь можно двигать внутри контейнера */
    top: 15%;                /* 20% от высоты контейнера */
    left: 1%;               /* 50% от ширины контейнера */
    width: auto;
    height: 70%;
    border-radius: 50%;
    object-fit: cover; 
}

  .nav-bar {
    position: absolute;
    top: 50%;             /* 50% от высоты контейнера */
    left: 50%;            /* 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* сдвигаем по горизонтали и вертикали на 50% своей ширины/высоты */
    display: flex;
    justify-content: space-around;
    /* gap: 5%; */
    width: 70%;

}
.nav-bar a {
    color: #ffffff;           /* цвет текста, например белый */
    font-family: 'Arial', sans-serif;  /* шрифт текста */
    font-size: 2vw;        /* размер шрифта */
    text-decoration: none;    /* убираем подчеркивание у ссылок */
    font-weight: 500;         /* толщину текста */
    transition: color 0.3s;   /* плавное изменение цвета при hover */
}

.nav-bar a:hover {
    color: #ffcc00;             /* цвет при наведении */
  }

.center-image {
    display: flex;
    justify-content: center;  /* по центру горизонтально */
    margin-top: 40px;         /* просто отступ сверху, можно убрать */
}

.text-center {
    text-align: center;
}

.myinfo {
  position: absolute;
  top: 10%;               
  left: 50%;
  transform: translateX(-50%);
  width: 900px;         /* ширина родителя */
  height: auto;
  z-index: 10;            
}

.myinfo_img {
  position: relative;
  top: 0%;
  left: 0%;
}

.myinfo_intra{
  position: absolute;
  top: 5px;
  left: 250px;
  width: 450px;
  font-size: larger;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  

}

.myinfo_content {
  position: relative;
  top: 2%;
  width: 650px;
  font-size: larger;
  background: rgba(255,255,255,0.1);
  padding: 10px;
}

.home {
  position: relative;
  top: 0%;
  left: 0%;
}

.bilder {
  position: absolute;
  top: 10%;               
 
}